To run the DeepQPP model, just check if your conda environment is good with the following.
In case you want to use any higher or lower version of any of the following, check if 
there is any compatibility issues.

# for InteractionMatrix (java module)
jdk 1.8.0 or above
lucene 5.3.1

# for DeepQPP learning (python module)
python 3.7.9
numpy 1.19.4
keras 2.3.0
tensorflow 2.2.0
scikit-learn 0.23.2

# for SN-BERT
nltk 3.5
transformers 4.6.1
